// Rofi colors from pywal
@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    font: "JetBrainsMono NF Bold 9";
    background: #2d353b;
    background-alt: #2d353bE0;
    foreground: #fff;
    selected: @selected-normal-background;    //selected: #7fbbb3;
    active: @selected-urgent-background;
    urgent: #e67e80;
    
}

// If you want to use pywal colors just import them here and replace the colors :)