/* Rofi theme for a fixed 200x200 confirmation dialog with custom "Yes" and "No" buttons */
configuration {
    font: "JetBrains Mono 12";
    location: 0; /* Center the menu */
    fixed-height: true;
    hover-select:				true;
}

@theme "/home/sandesh/.local/share/rofi/themes/material-you/material-colors.rasi"


* {
    font: "JetBrains Mono Nerd Font 10";
    background: @surface;       
    background-alt: @surface-container;   
    foreground: @on-surface; 
    selected: @primary;
    urgent: @on-error;                   
    border-color: @background;             
    border: 2px;
    padding: 0px;
    spacing: 0px;
}

#window {
    border-radius: 12px; /* Rounded edges */
    padding: 5px;        /* Padding inside the box */
    height:300px;
    width: 500px;
    background-color:            @background;

}

mainbox {
    padding: 10px;
    border-radius: 8px;
    background-color:            @background;
}

listview {
    spacing: 5px;
    padding: 10px;
    fixed-height: true; 
    rows: 2;            
    border-color: @background;
    background-color:            transparent;
    text-color:                  @foreground;

}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     15px;
    padding:                     8px;
    border-radius:               10px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  #fff;
    border-color:                @background;
}
element normal.urgent {
    background-color:            @urgent;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  #000;  /* Black text when selected */
    border-color:                #a7c080;
}
element selected.urgent {
    background-color:            @urgent;
    text-color:                  #000000;  /* Black text when selected */
}
element selected.active {
    background-color:            @urgent;
    text-color:                  #000000;  /* Black text when selected */
    border-color:                @selected;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    border-color:                @background;
}
element-text selected.normal {
    background-color:            @selected;
    text-color:                  #000;
    border-color:                @selected;
}


/*****----- Inputbar -----*****/
inputbar {
    enabled:                     false;
}
