@theme "/home/sandesh/.local/share/rofi/themes/material-you/material-colors.rasi"


* {
background:			                      @surface;
backgroundAdditional:                   #0a0a0966;
background-alt:                           @surface-container;
foreground:			                      @on-surface;
foreground-alt:			             #fdfffd;
selected:			                      @primary;
highlight:			                     #CB9D6D;
urgent:				                      @on-error;
on:					                 #6C6559;
off:				                     #995C38;
}
