// Rofi colors from matugen
@theme "/home/sandesh/.local/share/rofi/themes/material-you/material-colors.rasi"

* {
    font: "JetBrainsMono NF Bold 9";
    background: @surface;
    background-alt: @surface-container;
    foreground: @on-surface;
    selected: @primary;
    active: @tertiary;
    urgent: @on-error;
    
}

// If you want to use pywal colors just import them here and replace the colors :)