@import "shared.rasi"

configuration {
    modi:                        "drun";
    show-icons:                  true;
    drun-display-format:         "{name}";
    font:                        "JetBrains Mono Nerd Font 11";
    hover-select:                true;
}

//----- Global Properties -----//

* {
main-bg: @background;
main-fg: #fbf1c7;
select-bg: @selected;
select-bg: @active;
select-fg: #282828;
}

//----- Main Window -----//

window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       80%;
    height:                      60%;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                transparent;
    background-color:            transparent;
}

//----- Main Box -----//

mainbox {
    enabled:                     true;  
    border-radius:               16px;
    children:                    [ "listview" ];
    background-color:            @main-bg;
}

//----- Listview -----//

listview {
    enabled:                     true;
    columns:                     5;             
    lines:                       3;             
    spacing:                     50px;          
    padding:                     20px 30px;
    cycle:                       true;
    
    dynamic:                     false;
    scrollbar:                   false;
    layout:                      vertical;          
    fixed-height:                true;
    fixed-columns:               true;          
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @foreground;
}

//----- Elements -----//

element {
    enabled:                     true;
    orientation:                 vertical;    
    spacing:                     10px;          
    padding:                     10px;
    border-radius:               20px;         
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}

element-icon {
    size:                        150px;         
    cursor:                      inherit;
    border-radius:               10px;
    background-color:            transparent;
    text-color:                  inherit;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding:                     20px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
