* {
    main-bg:            #2f383e;
    main-fg:            #d3c6aa;
    main-br:            #323d43;
    main-ex:            #f5e0dcff;
    select-bg:          #a7c080;
    select-fg:          #000000;
    separatorcolor:     transparent;
    border-color:       transparent;
}
* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #2f383e;   /* Background */
    background-alt:              #323d43;   /* Darker Background */
    foreground:                  #d3c6aa;   /* Foreground */
    selected:                    #a7c080;   /* Selection */
    active:                      #d699b6;   /* Active Item */
    urgent:                      #e67e80;   /* Urgent Item */
}
